<button (click)="addCourse()" class="btn btn-primary"> add </button>
<button (click)="loadCourses()" class="btn btn-primary"> load Course </button>
<ul>
    <li *ngFor="let course of courses;  index as i; trackBy: trackCourse">
        {{ i }} - {{ course.name }}
        <button class="btn btn-secondary" (click)="onRemove(course)">Remove</button>
        <button class="btn btn-secondary" (click)="onUpdate(course)">Update</button>
    </li>
</ul>

<span class="glyphicon" [ngClass]="{
  'glyphicon-star': isSelected,
  'glyphicon-star-empty': ! isSelected
}"></span>

<button (click)="onClick()" class="btn" [ngStyle]="{'backgroundColor': canSave ? 'blue': 'gray', 'color': canSave ? 'white': 'black'}"> SAVE
</button>

<div>
    <h2> {{ task.assignee?.name }}</h2>
</div>
