<div class="container">
    <!-- <div>
        <img [src]="imageUrl" width="250" height="250">
    </div>
    <div>
        <button type="button" class="btn btn-success" (click)="redirect()">{{status}}</button>
    </div> -->
    <form>
        <div class="form-group">
            <input type="email" class="form-control" [(ngModel)]="word">
            <small id="emailHelp " class="form-text text-muted ">We'll never share your email with anyone else.</small>
            <h3 [style.color]="word.length % 2 === 0 ? 'red' : 'yellow'"> Xin chao {{ word }}!</h3>
            <!-- <code> {{ txtUsername.value | json }}!</code> -->
        </div>
    </form>
    <!-- <app-demo></app-demo> -->
</div>
