<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <% danhsach.forEach(function (marvel){ %>
        <div class="charactor">
            <img src="" alt=""/>
            <div class="marvalName"> <%- marvel.Name %>  </div>
            <div class="marvalLevel"> <%- marvel.Level %>  </div>
            <div class="button">
                <a href="./edit/<%- marvel._id%>">Edit</a>
                <a href="./delete/<%- marvel._id%>">Delete</a>
            </div>
        </div>
    <% }); %>
</body>
</html>
