<div class="container">
    <div>
        <div class="card">
            <div class="card-header">
                <h1 [class.border]="withBorder" [style.color]="textColor" (mouseover)="onTextMouseOver()" (mouseout)="onTextMouseOut()">
                    Welcome {{title}}
                </h1>
            </div>
            <div class="card-body">
                <img src="{{imageSrc}}" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
            </div>
            <div class="card-footer">
                <button (click)="onButtonClick($event)" type="button" class="btn btn-primary">{{withBorder ? 'Hide' : 'Show'}}
          Border
        </button>
            </div>
        </div>
    </div>
    <app-hello [text]="title">

    </app-hello>
</div>
