<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new product</title>
    <style>
        input {
            margin-bottom: 10px;
        }

    </style>
</head>
<body>
<h1>Add new hero</h1>
<form action="./add" method="post" enctype="multipart/form-data">
    <input type="text" name="txtName" placeholder="Name"> <br/>
    <input type="file" name="marvelImage"><br/>
    <input type="number" name="marvelLevel" placeholder="Level"><br/>
    <input type="submit" value="Add new"/>
</form>
</body>
</html>
