<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">{{ title }}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="dashboard">Home</a></li>
          <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content text-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class="card card-warning">
          <!--          <div class="card-header">-->
          <!--            <h3 class="card-title">Thêm công văn</h3>-->
          <!--          </div>-->
          <div class="card-body">
            <form [formGroup]="formCreateDocumentary">
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Tên văn bản:</label>
                    <input type="text" formControlName="documentName" class="form-control form-control-sm"
                           placeholder="Enter ...">
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-3">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Số văn bản</label>
                    <input type="text" formControlName="documentNumber" class="form-control form-control-sm"
                           placeholder="Enter ...">
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-3">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Loại văn bản</label>
                    <!--                    <input type="text" formControlName="documentType" class="form-control form-control-sm" placeholder="Enter ...">-->
                    <select formControlName="documentType" class="form-control form-control-sm">
                      <option>Báo cáo</option>
                      <option>Tờ trình</option>
                      <option>Công văn</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-6">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Địa chỉ gửi:</label>
                    <input type="text" formControlName="documentAddress" class="form-control form-control-sm"
                           placeholder="Enter ...">
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-3">
                  <!-- text input -->
                  <div class="form-group ">
                    <label>Thời gian:</label>
                    <input type="date" formControlName="documentDate" class="form-control form-control-sm"
                           placeholder="Enter ...">
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-3">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Đến hoặc đi</label>
                    <select formControlName="documentStatus" class="form-control form-control-sm">
                      <option>Văn bản đến</option>
                      <option>Văn bản đi</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Số hộp:</label>
                    <input type="text" formControlName="documentBox" class="form-control form-control-sm"
                           placeholder="Enter ...">
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <!-- text input -->
                  <div class="form-group">
                    <label>Người ký:</label>
                    <input type="text" formControlName="documentWhoSign" class="form-control form-control-sm"
                           placeholder="Enter ...">
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="form-group">
                    <label>Upload File:</label>
                    <input formControlName="documentFile"
                           class="form-control-file"
                           name="pdfFile"
                           id="pdfFile"
                           (change)="onFileSelect($event)"
                           type="file"/>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4">
                  <div class="form-froup">
                    <button (click)="createDocument()" type="submit" class="btn btn-outline-info form-control">Thêm
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <pre>value form: {{ formCreateDocumentary.value | json }}</pre>
          <pre>status form: {{ formCreateDocumentary.status | json }}</pre>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <div class="container-fluid">
            <div #viewer class="webviewer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <label>ảnh</label>
    <img [src]="url">
  </div>
</section>
