<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">{{ title }}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="dashboard">Home</a></li>
          <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content text-sm">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card card-info">
          <div class="card-header">
            <h3 class="card-title">Thông tin công văn</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="form-group">
                  <label>Tên văn bản:</label>
                  <input type="text"
                    class="form-control form-control-sm disabled text-dark"
                    value="{{documentDetails.documentName}}"
                    disabled>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="form-group">
                  <label>Số văn bản</label>
                  <input type="text"
                    class="form-control form-control-sm disabled text-dark"
                    value="{{documentDetails.documentNumber}}"
                    disabled>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="form-group">
                  <label>Loại văn bản</label>
                  <input type="text"
                    class="form-control form-control-sm disabled text-dark"
                    value="{{documentDetails.documentType}}"
                    disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-6">
                <div class="form-group">
                  <label>Địa chỉ gửi:</label>
                  <input type="text"
                    class="form-control form-control-sm disabled text-dark"
                    value="{{documentDetails.documentAddress}}"
                    disabled>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-3">
                <div class="form-group ">
                  <label>Thời gian:</label>
                  <input type="text"
                    class="form-control form-control-sm disabled text-dark"
                    value="{{documentDetails.documentDate}}"
                    disabled>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-3">
                <!-- text input -->
                <div class="form-group">
                  <label>Đến hoặc đi</label>
                  <input type="text"
                    class="form-control form-control-sm disabled text-dark"
                    value="{{documentDetails.documentStatus}}"
                    disabled>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="form-group">
                  <label>Số hộp:</label>
                  <input type="text"
                    class="form-control form-control-sm disabled text-dark"
                    value="{{documentDetails.documentBox}}"
                    disabled>
                </div>
              </div>
              <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="form-group">
                  <label>Người ký:</label>
                  <input type="text"
                    class="form-control form-control-sm disabled text-dark"
                    value="{{documentDetails.documentWhoSign}}"
                    disabled>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="form-group">
          <div class="container-fluid">
            <div #viewer
              class="webviewer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
