<div class="login-page">
  <div class="container py-5 ">
    <div class="row d-flex align-items-center justify-content-center">
      <div class="col-md-8 col-lg-7 col-xl-6 mb-2">
        <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
          class="img-fluid"
          alt="Phone image">
      </div>
      <div class="col-md-7 col-lg-3 col-xl-3 offset-xl-1">
        <form>
          <!-- Email input -->
          <div class="form-outline mb-3">
            <label class="form-label">Username</label>
            <input placeholder="Username"
              type="text"
              class="form-control rounded-pill border-0 shadow-sm px-4" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label class="form-label">Password</label>
            <input placeholder="Password"
              type="password"
              class="form-control rounded-pill border-0 shadow-sm px-4" />
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <button type="submit"
                class="btn btn-primary btn-block form-control btn-block text-uppercase mb-2 rounded-pill shadow-sm">Sign
                in</button>
            </div>
          </div>
          <p class="mb-1">
            <a href="forgot-password.html">I forgot my password</a>
          </p>
          <p class="mb-0">
            <a routerLinkActive="activate"
              routerLink="register"
              class="text-center">Register a new membership</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
