<!-- <h1 [textContent]="title"> </h1>
<h1>{{ event }}</h1>
<button class="btn btn-primary" [class.activate]="isActivate">savecc</button>
<h2 (click)="isClick()" [style.font-size.px]="isTrue">Hoang Van Thai</h2>


<button (click)="isClick2($event)" class="btn btn-secondary">Save</button> -->
<!-- <h2 (click)="isClick()" [style.font-size.px]="isTrue">Hoang Van Thai</h2>
<div (click)="onDivClicked()">
    <button class="btn btn-primary" (click)="onSave($event)">Save</button>
</div>
<label>templte variables </label> -->
<!-- templte variables -->
<!-- <div>
    <input #email (keyup.enter)="onKeyUpTemplteVariables(email.value)" />
</div>

<label>Two way binding </label> -->
<!-- Two way binding -->
<!-- type 1 -->
<!-- <div>
    <input [value]="email2" (keyup.enter)="email2 = $event.target.value; onKeyupTwoWayBinding()" />
</div> -->
<!-- type 2 -->
<!-- <div>
    <input [(ngModel)]="email2" (keyup.enter)="onKeyupTwoWayBinding()" />
</div>
<h1>Demo Pipes </h1>
<app-pipes></app-pipes>
<h1>Demo Component API </h1>
<app-component-api [isFavorite]="post.isFavorite" (change)='onFavoriteChanged()'></app-component-api>
<h1>Demo Ng-If </h1> -->
<!-- <app-ng-if-component></app-ng-if-component> -->
<!-- <h1>Switch Case</h1>
<app-switch-case></app-switch-case> -->
<!-- <h1>Ng For</h1>
<app-ng-for></app-ng-for> -->
<!-- <h1>Custom Directive</h1>
<app-custom-drictive></app-custom-drictive> -->
<!-- <h1>Contact Form</h1>
<app-contact-form></app-contact-form> -->
<h1>Signup Form</h1>
<app-singup-form></app-singup-form>
