<div class="example-container"
  [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary"
    class="example-toolbar">
    <button mat-icon-button
      (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Responsive App</h1>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #snav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="content mat-elevation-z8">
        Main content here!
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
