<!--<div class="container-fluid">-->
<!--  <mat-toolbar class="example-toolbar">-->
<!--    <button mat-icon-button-->
<!--            (click)="snav.toggle()">-->
<!--      <mat-icon>menu</mat-icon>-->
<!--    </button>-->
<!--    <h1 class="example-app-name">Responsive App</h1>-->
<!--  </mat-toolbar>-->

<!--  <mat-sidenav-container class="example-sidenav-container"                         >-->
<!--    <mat-sidenav #snav-->
<!--                 class="mat-elevation-z8">-->
<!--      <img class="avatar mat-elevation-z8" src="https://source.unsplash.com/c_GmwfHBDzk/200x200" />-->

<!--      <h4 class="name">John Smith</h4>-->
<!--      <p class="designation">Software Engineer</p>-->

<!--      <mat-divider></mat-divider>-->
<!--      <button mat-button class="menu-button">-->
<!--        <mat-icon>home</mat-icon>-->
<!--        <span>Home</span>-->
<!--      </button>-->
<!--      <button mat-button class="menu-button">-->
<!--        <mat-icon>person</mat-icon>-->
<!--        <span>Profile</span>-->
<!--      </button>-->
<!--      <button mat-button class="menu-button">-->
<!--        <mat-icon>info</mat-icon>-->
<!--        <span>About</span>-->
<!--      </button>-->
<!--      <mat-divider></mat-divider>-->
<!--      <button mat-button class="menu-button"-->
<!--              routerLink="day-report">-->
<!--        <mat-icon>report</mat-icon>-->
<!--        <span>Báo cáo ngày</span>-->
<!--      </button>-->
<!--      <button mat-button class="menu-button"-->
<!--              routerLink="send-report">-->
<!--        <mat-icon>report</mat-icon>-->
<!--        <span>Báo cáo gửi</span>-->
<!--      </button>-->
<!--      <mat-divider></mat-divider>-->
<!--      <button mat-button class="menu-button">-->
<!--        <mat-icon>help</mat-icon>-->
<!--        <span>Help</span>-->
<!--      </button>-->
<!--      <button mat-button class="menu-button">-->
<!--        <mat-icon>logout</mat-icon>-->
<!--        <span>Logout</span>-->
<!--      </button>-->
<!--    </mat-sidenav>-->
<!--    <mat-sidenav-content>-->
<!--      <div class="content mat-elevation-z8">-->
<!--        <router-outlet></router-outlet>-->
<!--      </div>-->
<!--    </mat-sidenav-content>-->
<!--  </mat-sidenav-container>-->
<!--</div>-->
