<form [formGroup]="signupForm"
  (ngSubmit)='login()'>
  <div formGroupName='account'>
    <div class="form-group">
      <label for="username">Username</label>
      <input formControlName="username"
        id="username"
        type="text"
        class="form-control">
      <div *ngIf="username.touched && username.invalid"
        class="alert alert-danger">
        <div *ngIf="username.pending">Checking for unique....</div>
        <div *ngIf="username.errors.required">Username is required</div>
        <div *ngIf="username.errors.minlength">Username should be minimum {{ username.errors.minlength.requiredLength }}
          characters
        </div>
        <!-- <div *ngIf="username.errors.email">Username should be the email</div> -->
        <div *ngIf="username.errors.cannotContainSpace">Username cannot space</div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password"
        id="password"
        type="password"
        class="form-control">
      <div *ngIf="password.touched && password.invalid"
        class="alert alert-danger">
        <div *ngIf="password.errors.required">password is required</div>
        <div *ngIf="password.errors.minlength">password should be minimum {{ password.errors.minlength.requiredLength }}
          characters
        </div>
      </div>
    </div>
  </div>
  <button [disabled]="username.invalid"
    class="btn btn-primary"
    type="submit">Sign Up</button>
</form>
