<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">{{ title }}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a routerLink="">Dashboard</a></li>
          <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="row align-items-center justify-content-around">
              <div class="col-lg-2">
                <div class="form-group">
                  <button routerLink="add-documentary"
                    class="btn btn-sm form-control form-control-sm btn-outline-info"
                    type="button">
                    <i class="fas fa-plus-square text-md"> Thêm văn bản</i>
                  </button>
                </div>
              </div>
              <div class="col-lg-2">
                <div class="form-group">
                  <div class="dropright">
                    <button class="btn btn-sm btn-outline-info form-control form-control-sm dropdown-toggle"
                      type="button"
                      id="dropdownMenuButton"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false">
                      <i class="fas fa-list text-md-center"> Phân loại văn bản</i>
                    </button>
                    <div class="dropdown-menu"
                      aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item">Action</a>
                      <a class="dropdown-item">Another action</a>
                      <a class="dropdown-item">Something else here</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 ">
                <div class="form-group">
                  <button routerLink="add-documentary"
                    class="btn btn-sm form-control form-control-sm btn-outline-info"
                    type="button">
                    <i class="fas fa-search text-mono"> Tìm kiếm văn bản</i>
                  </button>
                </div>
              </div>
            </div>
            <div class="row table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th class="col-1 text-sm text-sm-center">Thời gian</th>
                    <th class="col-3 text-sm text-sm-center">Tên văn bản</th>
                    <th class="col-2 text-sm text-sm-center">Số văn bản</th>
                    <th class="col-2 text-sm text-sm-center">Loại văn bản</th>
                    <th class="text-sm text-sm-center">Địa chỉ gửi</th>
                    <th class="col-2 text-sm text-sm-center">Hành động</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let row of documentaryList  | slice: (page-1) * pageSize : page * pageSize"
                    class="text-md text-md-center">
                    <td>{{ row.documentDate }}</td>
                    <td><a class="text-info"
                        routerLink="details-documentary/{{row._id}}">{{ row.documentName }}</a></td>
                    <td>{{ row.documentNumber }}</td>
                    <td>{{ row.documentType }}</td>
                    <td>{{ row.documentAddress }}</td>
                    <td>
                      <div class="dropright">
                        <button class="btn btn-sm btn-outline-info form-control form-control-sm dropdown-toggle"
                          type="button"
                          id="dropdownMenuButton"
                          data-toggle="dropdown"
                          aria-haspopup="true"
                          aria-expanded="false">
                          <i class="fas fa-list"></i> Hành Động
                        </button>
                        <div class="dropdown-menu"
                          aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item">Sửa</a>
                          <a (click)="deleteDocumentary(row)"
                            class="dropdown-item">Xoá</a>
                        </div>
                      </div>
                      <!-- <div class="row text-sm align-items-center justify-content-around">
                      <div class="col-lg-6">
                        <button class="btn btn-outline-secondary form-control form-control-sm"><i
                          class="fas fa-edit"></i>
                          Sửa
                        </button>
                      </div>
                      <div class="col-lg-6">
                        <button class="btn btn-outline-danger form-control form-control-sm"
                                (click)="deleteDocumentary(row)"><i
                          class="fas fa-trash-alt"></i>
                          Xoá
                        </button>
                      </div>
                    </div> -->
                    </td>
                  </tr>
                </tbody>
              </table>
              <ngb-pagination class="d-flex justify-content-center "
                [(page)]="page"
                [pageSize]="pageSize"
                [maxSize]="7"
                [rotate]="true"
                [collectionSize]="documentaryList.length">
              </ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
