<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">{{ title }}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<section class="content">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-12">
        <button routerLink="add-documentary" class="btn btn-primary">Thêm Công Văn</button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">DataTable with default features</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="table-responsive">
              <table  class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th class="col-2">Ngày tháng</th>
                  <th class="col-3">Tên văn bản</th>
                  <th class="col-2">Số văn bản</th>
                  <th class="col-1">Loại văn bản</th>
                  <th>Địa chỉ gửi </th>
                  <th class="col-2">Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let row of documentaryList" >
                  <td>{{ row.documentDate }}</td>
                  <td><a routerLink="details-documentary/{{row._id}}">{{ row.documentName }}</a></td>
                  <td>{{ row.documentNumber }}</td>
                  <td>{{ row.documentType }}</td>
                  <td>{{ row.documentAddress }}</td>
                  <td>
                    <div class="row">
                      <div class="col-6">
                        <a ><i class="fas fa-edit"></i> Sửa</a>
                      </div>
                      <div class="col-6">
                        <a (click)="deleteDocumentary(row)" ><i class="fas fa-trash-alt"></i> Xoá</a>
                      </div>
                    </div>

                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Ngày phát hành</th>
                  <th>Tên văn bản</th>
                  <th>Số văn bản</th>
                  <th>Loại văn bản</th>
                  <th>Địa chỉ gửi văn bản</th>
                  <th>Hành động</th>
                </tr>
                </tfoot>
              </table>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      </div>
    </div>
  </div>
</section>

