<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <form (submit)="addNewProduct(addProductForm)" #addProductForm='ngForm'>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label>Tên sản phẩm</label>
            <input
              ngModel
              type="text"
              class="form-control"
              id="product_name"
              value=""
              name="product_name"
              placeholder="Nhập tên sản phẩm.."
              required>
            <!--            <div class="valid-feedback">-->
            <!--              Looks good!-->
            <!--            </div>-->
          </div>
          <div class="col-md-6 mb-3">
            <label for="validationServer02">Phân loại sản phẩm</label>
            <input type="text" class="form-control" id="validationServer02" value="Otto" required>
            <!--            <div class="valid-feedback">-->
            <!--              Looks good!-->
            <!--            </div>-->
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label>Tóm tắt mô tả</label>
            <input type="text" class="form-control" required>
            <!--            <div id="validationServer03Feedback" class="invalid-feedback">-->
            <!--              Please provide a valid city.-->
            <!--            </div>-->
          </div>
          <div class="col-md-3 mb-3">
            <label for="validationServer04">Mô tả</label>
            <input type="text" class="form-control" id="validationServer04"
                   aria-describedby="validationServer03Feedback" required>
            <!--            <select class="custom-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>-->
            <!--              <option selected disabled value="">Choose...</option>-->
            <!--              <option>...</option>-->
            <!--            </select>-->
            <!--            <div id="validationServer04Feedback" class="invalid-feedback">-->
            <!--              Please select a valid state.-->
            <!--            </div>-->
          </div>
          <div class="col-md-3 mb-3">
            <label>Đánh giá</label>
            <select class="custom-select" required>
              <option selected disabled value="">Choose...</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
            <!--            <div id="validationServer05Feedback" class="invalid-feedback">-->
            <!--              Please provide a valid zip.-->
            <!--            </div>-->
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label>Giá bán</label>
            <input type="number" class="form-control" required>
            <!--            <div id="validationServer03Feedback" class="invalid-feedback">-->
            <!--              Please provide a valid city.-->
            <!--            </div>-->
          </div>
          <div class="col-md-3 mb-3">
            <label>Hình ảnh</label>
            <input type="image" class="form-control" required>
            <!--            <select class="custom-select is-invalid" id="validationServer04" aria-describedby="validationServer04Feedback" required>-->
            <!--              <option selected disabled value="">Choose...</option>-->
            <!--              <option>...</option>-->
            <!--            </select>-->
            <!--            <div id="validationServer04Feedback" class="invalid-feedback">-->
            <!--              Please select a valid state.-->
            <!--            </div>-->
          </div>
          <div class="col-md-3 mb-3">
            <label>Màu sản phẩm</label>
            <input type="number" class="form-control" required>
          </div>
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input " type="checkbox" value="" required>
            <label class="form-check-label">
              Giảm giá
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input " type="checkbox" value="True" required>
            <label class="form-check-label">
              Có sẵn trong cửa hàng
            </label>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Thêm sản phẩm</button>
      </form>
    </div>
  </div>
</div>
